/*
* @Author: Ngo Quang Cuong
* @Date:   2017-07-02 15:04:26
* @Last Modified by:   nquangcuong
* @Last Modified time: 2017-07-03 14:51:49
*/
.avatar {
    opacity: 0;
}
.avatar-title {
    display: block;
    margin-bottom: 8px;
}
.avatar-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.field-name-avatar img {
    cursor: pointer;
}
